# Ignore Unity scene files
#*.unity
#*.meta
# *.asset

# Ignore Directory
Unity/Excavator/Assets/YamlDotNet/
Unity/Excavator/Logs/
Unity/Excavator/Library/
!Unity/Excavator/Library/PackageCache/com.frj.unity-sensors/Runtime/Scripts/Sensors/IMU/**
#Unity/Excavator/Assets/AGXUnity
sim_ws/build/
sim_ws/install/
sim_ws/log/
Unity/Excavator/Assets/agx.lfx
Unity/Excavator/Assets/agx.lfx.meta
Unity/Excavator/Assets/agx (1).lfx
Unity/Excavator/Assets/agx (1).lfx.meta
sim_ws/*.vscode